# for all path/url, no tailing "/"

DB_SERVER = "localhost";
DB_USERNAME = "testuser";
DB_PASSWORD = "testpassword";
DB_SCHEMATA = "testdb";

ADMIN_PASSWORD = "admin_password"

URL_ROOT="http://domain/path"

WEB_JSON_CGI_LOCAL_PATH="/www/cgi"
WEB_JSON_CGI_URL_PATH="cgi"

WEB_JSON_CONSOLE_LOCAL_PATH="/www/json-console"
WEB_JSON_CONSOLE_URL_PATH="json-console"
